* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(236, 235, 235);
}

.id-card {
    width: 290px;
    height: 550px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.id-card-header {
    background-color: green;
    text-align: center;
    padding: 1px 0;
}
.sasilogo{
    display: flex;
    margin: right 70px;
    margin-right:100px;
}
.r{
    padding:15px;
}
.id-card-photo{
    text-align: center;
    padding:10px; 
} 
.name{
    color:red;
    font-family:arial;
}
.study{
    padding:3px;
    color:black;
    font-family:sans-serif;
}
.reg{
    color:rgb(103, 17, 17);
    font-size: medium;
}
.logo {
    width: 300px;
    height: 100px;
}
.id-card-body {
    /* background-color: green; */
    display: flex;
    padding: 15px;
    justify-content: space-between;
    width:20px;
    height:10px;
}

 .photo img {
    width: 200px;
    height: 50px;
    /* border-radius: 50%; */
    border: 2px solid white;
}

.id-card-details {
    background-color: green;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 3px;
    padding:2px 2px;
    text-align:left;
    font-size: small;
}
.detailsp{
    color: white;
    font-size: small;
}
.a{
    color:yellow;
}
.b{
    color:yellow;
}
.c{
    color:yellow;
}
.d{
   padding:-2px;
    color:yellow;
}
.color{
    color:white;
}
.sign{
    text-align:right;
    color:black;
    width: 4px;
    height: 2px;
    background-color:green;
    padding: 3px 0px;
    margin-top: 3px;
    margin-right: 3px;
    border-radius: 3px;
}

